.moreBtn {
    float: right;
}
.more {
    display: inline-block;
    float: right;
    position: relative;
    top: -13px;
}
.more li {
    display: inline;
    list-style: none;
    text-align: center;
    margin: 0 10px;
}
.panel-footer.text-center {
    padding: 14px 2px;
}
span.glyphicon {
    font-size: 20px;
    padding-top: 2px;
}
input#commentsForm {
    font-weight: normal;
    width: 80%;
    font-style: normal;
    font-size: 16px;
    border: none;
    outline: none;
}
form img {
    width: 40px;
    margin: 15px;
}
form.comment {
    border-top: 1px solid rgb(239, 239, 239);
    width: 92%;
    margin: 0 auto;
    text-align: center;
    color: black;
}
#formPosition {
    position: relative;
    left: -47px;
}
ul li {
    list-style: none;
}
.comments ul {
    margin: 16px 1px;
}
.comments ul li {
    margin: 2px 0;
}
.panel-body {
    padding: 1px 10px;
}
.timeago{
    float: left;
    width: 20%;
    text-align: center;
}
.info{
    float: left;
    width: 78%;
    padding-left: 20px;
}
.panel-body{
    padding: 5px 3px;
}