<% include ../template/header.ejs %>



<form action="/user/sign_up" method="post" enctype="multipart/form-data">

  First Name:<input type="text" name="firstName"><br>
  Last Name<input type="text" name="lastName"><br>
  Email:<input type="email" name="email"><br>
  Password: <input type="password" name="password"><br>
  Upload<input type="file" name="images"><br>
  <input type="submit">

</form>



















<% include ../template/footer.ejs %>