<nav class="navbar">
  <div class="container" id="log-container">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/images" id="logo"><img src="/images/logo.png" alt=""></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    
        <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1">
          <input type="text" class="form-control" placeholder="Search" id="search">
        </div>
    
      <ul class="nav navbar-nav navbar-right" id="icons">
        <li><a href="/uploads"><img src="/images/add.jpg" alt=""></a></li>
        <li><a href="#"><img src="/images/like.png" alt=""></a></li>
        <li><a href="/users"><img src="/images/user.png" alt="" style="margin-top: -3px"> </a></li>
        
      </ul>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<style>
  div#log-container{
    margin:13px auto;
  }
 input#search{
    height: 26px;
    margin-top: 12px;
    background: #fafafa;
    border: solid 1px #dbdbdb;
    outline: none;
  }
  input.form-control:focus{
    outline: none;
  }
  #logo img{
    width: 175px;
    height: auto;
    margin-top: -9px;
  }
  nav.navbar{
    border-bottom: 2px solid #efefef;
    height: 77px;
    background-color: #fff;
  }
  #icons img{
    width: 35px;
    padding: 0;
  }
  #icons li a:focus, #icons li a:hover{
    text-decoration: none;
    background-color: rgba(238, 238, 238, 0);
  }
  

</style>